@model App.Common.Models.Common.PagedList<App.Common.Models.User.Dtos.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = Model.Items;
    var pageSize = Model.PageSize;
    var totalPage = Model.TotalPage;
    var pageIndex = Model.CurrentPage;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                UserName
            </th>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    for (int i = 1; i <= totalPage; i++)
                    {
                        var link = $"pageIndex={i}&pageSize={pageSize}";
                        var isActive = pageIndex == i ? "active" : "";
                        <li class="page-item @isActive"><a class="page-link" href="?@link">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </tfoot>
</table>
